.settings/
clock-api/.settings/
clock-resource/.settings/
clock-server/.settings/
clock-utils/.settings/
clock-web/.settings/
clock-web/clcok-controller/.settings/
clock-web/clock-page/.settings/

clock-api/target/
clock-resource/target/
clock-server/target/
clock-utils/target/
clock-web/clcok-controller/target/
clock-web/clock-page/target/


*.class