# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

# system ignore
.DS_Store
Thumbs.db


.idea/
.settings/

clock-pojo/target/
clock-utils/target/
clock-dubbo-api/target/
clock-biz/target/
clock-web/clcok-controller/target/
clock-web/clock-page/target/