<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
		http://www.springframework.org/schema/beans/spring-beans.xsd  
		http://code.alibabatech.com/schema/dubbo  
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
	<dubbo:application name="clock-bs-rest" />

	<!-- 直连方式,用于开发 -->
	<dubbo:registry address="N/A" />
	<dubbo:consumer timeout="30000" />
	<!-- 使用zookeeper注册中心订阅服务地址 -->
	<!-- <dubbo:registry protocol="zookeeper" address="127.0.0.1:6060" /> -->

	<!-- 用户服务接口 -->
	<dubbo:reference id="bsCompanySV" interface="org.clock.bs.api.IBsCompanySV"
		url="dubbo://127.0.0.1:26060/org.clock.bs.api.IBsCompanySV" version="1.0" />

	<!-- 在27070端口暴露rest协议 -->
	<!--<dubbo:protocol name="rest" port="27070" server="tomcat"/> -->
	<!-- 部署到内嵌tomcat -->
	<dubbo:protocol name="rest" port="27070" server="tomcat"
		contextpath="/clock" />

	<!-- 发布这个服务 -->
	<!-- 声明需要暴露的服务接口,直连时，token=true要去掉，会有不安全因素，但直连一般用于内部使用，安全问题可以暂忽略 -->
	<dubbo:service interface="org.clock.bs.restAPI.ICompany"
		ref="bsCompany" version="1.0" />

	<bean id="bsCompany" class="org.clock.bs.controller.Company" />
</beans>  